<%- include('includes/header.ejs') %>

<div class="container">
<%- include('includes/param.ejs',{key:"Name",value:params.settings.title}) %>
<%- include('includes/param.ejs',{key:"Version",value:params.version}) %>
<%- include('includes/param.ejs',{key:"Up Since",value:params.settings.uptime}) %>
<%- include('includes/param.ejs',{key:"MAC Address",value:params.macAddress}) %>
<%- include('includes/param.ejs',{key:"IP Address",value:params.ip}) %>
<%- include('includes/param.ejs',{key:"Date & Time",value:funcs.formatDate(new Date())}) %>
<%- include('includes/param.ejs',{key:"Last Network Poll",value:funcs.ago(params.lastNetworkPoll)}) %>
<%- include('includes/param.ejs',{key:"Last Network Status",value:params.lastNetworkStatus}) %>
<%- include('includes/param.ejs',{key:"Last Testing Poll",value:funcs.ago(params.lastTestingPoll)}) %>
</div>

<%- include('includes/footer.ejs') %>


